@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.6 Cinzel, serif;;
}

h1 {
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    color: darkgoldenrod;
    margin-bottom: auto;
}

h2 {
    font-size: 1.5em;
    padding-top: 2em;
    font-weight: 700;
    text-align: center;
}

p {
    font: 1em/1.5 Verdana, sans-serif;
}

header {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* footer {
    margin-top: auto;
} */

section {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
}

section > div {
    position: relative;
    flex: 1 1 200px;
    height: auto;
    padding: 1em;
    margin: 1em 0;
    border: 5px solid rgb(0,0,0, 0.4);
    border-radius: 0.6em;
}

main svg {
    display: block;
    fill: #000;
}

.climbing {
    box-shadow: -6em 0 0.5em 0 rgb(0, 0, 0, 0.7) inset;
}

section div > div {
    position: absolute;
    inset: 0;
    text-align: center;
    background-color: gray;
    opacity: 0;
    color: antiquewhite;
    transition: opacity 0.5s ease-in;
    vertical-align:middle;
}

section div:hover div {
    opacity: 1;
}

.wrapper {
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}